body {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-color: #f4eeff;
    height: 100vh;
    z-index: 555;
}

#quote-box {
    background-color: white;
    border-radius: 12px;
    color: #393e46;
    filter: drop-shadow(3px 3px 12px rgba(138, 135, 135, 0.12));
    width: 650px;
    min-width: 250px;
    padding: 60px 60px;
}

#text {
    font-family: 'Merienda One', cursive;;
    font-size: 42px;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
    padding-bottom: 80px;
}

#quote-box footer {
    display: flex;
    justify-content: space-between;
}

#author {
    display: grid;
    grid-template-columns: min-content max-content;
    text-align: left;
}

#author__text {
    margin-left: 20px;
    margin-top: 5px;
}

#author__text h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 6px;
}

#author__text p {
    margin: 0;
    max-width: 250px;
}

#tweet-quote {
    margin-right: 15px;
}

#new-quote {
    background-color: #424874;
    border: none;
    border-radius: 6px;
    color: white;
    font-family: inherit;
    font-weight: 600;
    padding: 16px 24px;
    cursor: pointer;
}


.fa-twitter {
    font-size: 20px;
    color: #424874;
}

.button-and-tweet {
    align-self: center;
}

.author__image {
    grid-row: 1 / -1;
    /* background: url(https://images-na.ssl-images-amazon.com/images/M/MV5BOWViYjUzOWMtMzRkZi00MjNkLTk4M2ItMTVkMDg5MzE2ZDYyXkEyXkFqcGdeQXVyODQwNjM3NDA@._V1_UY256_CR36,0,172,256_AL_.jpg); */
    background-color: #ccc;
    background-size: cover;
    width: 60px;
    height: 60px;
    filter: drop-shadow(3px 3px 6px rgba(53, 52, 52, 0.20));
    border-radius: 8px;
}

.circle-1 {
    height: 100vh;
    width: 100vh;
    position: absolute;
    top: -30vh;
    left: -15vw;
    background-color: #a6b1e1;
    border-radius: 50%;
    transition-duration: 2s;
}

.circle-2 {
    height: 25vh;
    width: 25vh;
    position: absolute;
    right: 210px;
    bottom: 135px;
    background-color: #dcd6f7;
    border-radius: 50%;
    transition-duration: 2s;
}


.animate {
    animation: quoteBox 1.2s forwards;
}

@keyframes quoteBox {
	50% {
		opacity: 0;
        transform: translate3d(0,250px,0);
        pointer-events: none;
	}
}


/* RESPONSIVE */

@media screen and (max-width: 900px) {
    #text {
        font-size: 32px;
        padding-bottom: 50px;
    }

    #quote-box {
        padding: 50px;
    }
}

@media screen and (max-width: 670px) {
    #text {
        font-size: 24px;
        padding-bottom: 40px;
    }

    #quote-box {
        padding: 40px;
    }
}

@media screen and (max-width: 620px) {
    #text {
        font-size: 24px;
        padding-bottom: 40px;
    }

    #quote-box {
        padding: 40px;
    }

    #quote-box footer {
        display: flex;
        flex-direction: column;
    }

    .button-and-tweet {
        align-self: start;
    }

    #new-quote {
        margin-top: 2rem;
        justify-self: start;
    }

    #tweet-quote {
        position: absolute;
        left: 11.5rem;
        bottom: 3.5rem;
    }
}



  

